[Desktop Entry]
Name=Ultimate Gmail Feed
Name[fr]=Ultimate Flux Gmail
Comment=Ultimate Gmail Atom Feed
Comment[fr]=Ultimate Flux Atom Gmail
Icon=ultimategmailfeed

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=200,200

X-KDE-PluginInfo-Author=Intika
X-KDE-PluginInfo-Email=intika.dev@gmail.com
X-KDE-PluginInfo-Website=https://github.com/intika/gmailfeed
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Name=org.kde.plasma.ultimategmailfeed
X-KDE-PluginInfo-Version=2.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service

